<%= render 'shared/page_title', title:"Chef: " + @chef.chefname %>


<div class ="row">
  <div class ="col-md-4 col-md-offset-4 center"> <!-- the col-md-offset skips the first 4 column and use the next 4. 'center' will align everything at the center -->
    <%= gravatar_for @chef, size: 400 %>
    <hr/>
  </div>
</div>

<div class = "row">
  <div class = "col-md-4 col-md-offset-4 center">
    <% if @recipes.any? %>
      <h3><em>Recipes:</em></h3> <!-- 'em' for italic word' -->
      <%= will_paginate @recipes %> <!-- we have to specify the instant variables here because this have 
    2 instant variables: @chef and @recipes -->
    <% else %>
      <h3>You don't have any recipe yet.</h3>
      <h3><%= link_to "Create a recipe", new_recipe_path, class: "btn btn-warning btn-large" %> </h3>
    <% end %>
    
    
  </div>
</div>



<% @recipes.each do |recipe| %>
  <div class='row'>
    
    <!-- gravatar stuff below -->
    <div class = "col-md-2"> <!-- preserve 2 columns for image-->
     
    </div>
    
    <div class="col-lg-6 well">
      <h4 class="recipe_name"><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><b> Summary:</b> <%= recipe.summary %> </p>
      
      <!-- this will go to partial _style.html.erb and _ingredient.html.erb. This work for
      1-to-many or many-to-many associations-->
      <!-- this will loop all the styles with iteration 'style'/ ingredients with iteration 'ingredient' 
      of a recipe -->
      
      <% if recipe.styles.any? %>
        <p>Style: <%= render recipe.styles %></p>
      <% else %>
        <p>Style: n/a</p>
      <% end %>
      
      <% if recipe.ingredients.any? %>
        <p>Ingredient: <%= render recipe.ingredients %></p>
      <% else %>
        <p>Ingredient: n/a</p>
      <% end %>
      
      
      <p>
        <span class='quiet'>
          <small>Posted <%= time_ago_in_words(recipe.created_at) %> ago. </small>
          
        </span>
      </p>
      
      
       <!-- LIKE BUTTON -->
      <div class="pull-right">
        <%= link_to like_recipe_path(recipe,like: true), method: :post do %> <!-- without the method: :post, it will go the GET (home action) path. 
        We want to CREATE a like, which is a POST action -->
          <!-- create thumb up thumb down using twitter bootstrap from getbootstrap.com-->
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp <!-- create 4 spaces -->
        
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total %>
        <% end %>
        
      </div>
      
      <!-- show comments -->
      <p>
        <%= link_to recipe_path(recipe) do %>
          <% if (recipe.commentcount == 0) %>
            No comment.
          <% else %>
            <% if (recipe.commentcount == 1) %>
              <%= recipe.commentcount %> comment. 
            <% else %>
              <%= recipe.commentcount %> comments. 
            <% end %>
            
            
          <% end %>
        
        
        <% end %>
      </p>
      
    </div>
    
    <!-- for the recipe's picture, we use the gravatar class again since we want the pic to be curvy, like chef's pic -->
    <div class="col-md-4">
      <%= image_tag(recipe.picture.url, size: "300x230", class: "gravatar") if recipe.picture? %> <!-- we can put the if part at the end, weird -->
    </div>
    
  </div>
  
  <hr/>

<% end %>