<%= render 'shared/page_title', title: "All Recipes" %> <!-- remember to use double quote here for string? -->

<% @recipes.each do |recipe| %>
  <div class='row'>
    
    <!-- gravatar stuff below -->
    <div class = "col-md-2"> <!-- preserve 2 columns for image-->
      <section class = "chef_info center"> <!-- we change chef_info style in custom.css.scss in assets->stylesheets -->
        <%= gravatar_for recipe.chef, size: 100 %> <!-- gravatar_for is defined in the application_helper.rb -->
        <h5><%=recipe.chef.chefname %></h5>
      </section>
    </div>
    
    <div class="col-lg-6 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>
      <p>
        <span class='quiet'>
          <small><%= time_ago_in_words(recipe.created_at) %> ago</small>
        </span>
      </p>
    </div>
    
    <!-- for the recipe's picture, we use the gravatar class again since we want the pic to be curvy, like chef's pic -->
    <div class="col-md-4">
      <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %> <!-- we can put the if part at the end, weird -->
    </div>
    
  </div>
  
  <hr/>

<% end %>