<%= render 'shared/page_title', title: @recipe.name %>
<h5><%= link_to "Return to recipe list", recipes_path, class: "btn btn-warning btn-small" %> </h5>



<div class ="row">
  <div class ="col-md-3 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size: 190), chef_path(@recipe.chef) %>
    <p>
      <h5>Brought to you by <%= @recipe.chef.chefname %></h5>
    </p>
  </div>
    
  <div class = "col-lg-9">
    <% if logged_in? && (@recipe.chef == current_user || current_user.admin?) %> <!-- if user is logged in and 
    the chef we want to edit is the chef in our cookie -->
      <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %> 
    <% end %>
    
    
    
    
    
    <h3>Summary: <%= @recipe.summary %></h3>
    
    
    
    <div class = "well">
      <div class = "row">
        
        <div class="col-md-5 show_recipe pull-right">
          <%= image_tag(@recipe.picture.url, size: "320x240", class: "gravatar") if @recipe.picture? %>
        </div>
        
        
        <div class = "col-lg-6">
          <!-- this will go to partial _style.html.erb and _ingredient.html.erb. This work for
          1-to-many or many-to-many associations-->
          <!-- this will loop all the styles with iteration 'style'/ ingredients with iteration 'ingredient' 
          of a recipe -->
          <% if @recipe.styles.any? %>
            <p>Style: <%= render @recipe.styles %></p>
          <% else %>
            <p>Style: n/a</p>
          <% end %>
        
          <% if @recipe.ingredients.any? %>
            <p>Ingredient: <%= render @recipe.ingredients %></p>
          <% else %>
            <p>Ingredient: n/a</p>
          <% end %>
          
          <strong>Step: </strong>
          <p> 
          <%=simple_format(@recipe.description) %>
          </p> <!-- the simple_format identifies and show string in new line (when you hit enter) -->
        
        
        </div>
        
        
        
        
        
      </div> 
      
      <!-- LIKE BUTTON -->
      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %> <!-- without the method: :post, it will go the GET (home action) path. 
        We want to CREATE a like, which is a POST action -->
          <!-- create thumb up thumb down using twitter bootstrap -->
          <i class="glyphicon glyphicon-thumbs-up"></i> 
        <% end %> 
        &nbsp <%= @recipe.thumbs_up_total %>
        &nbsp&nbsp&nbsp&nbsp <!-- create 4 spaces -->
        
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i>
        <% end %>
         &nbsp <%= @recipe.thumbs_down_total %>
      </div>
      
    </div>
    
  </div>
</div>


<!-- delete recipe -->
<% if logged_in? && current_user.admin? %>
  <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure? Cannot be undone!" } %>
 <% end %>
<!-- comment -->


<h3 class = "center">Comments</h3>

<div class='row'> 
  <div class = 'well col-lg-8 col-sm-offset-1 '>
    <% if @recipe.comments.any? %>
      <%= will_paginate @comments %>
      
      
      
      <% @recipe.comments.each do |comment| %>
        <h5>
          <%= link_to gravatar_for(Chef.find(comment.chef_id), size: 50), chef_path(Chef.find(comment.chef_id)) %> &nbsp
          <b>
            <%=link_to Chef.find(comment.chef_id).chefname, chef_path(Chef.find(comment.chef_id)) %>
          </b> : <%= comment.comment %>
         
        </h5>
      
        <!-- delete comment -->
        <% if (logged_in? && (current_user.admin? || current_user == comment.chef)) %>
          <div class="pull-right">
            <%= link_to deletecomment_recipe_path(@recipe,comment_id: comment.id), method: :post, data: {confirm: "Do you want to delete your comment?" } do %> 
              <i class="glyphicon glyphicon-remove-circle">Delete</i> 
            <% end %> 
          </div>
        
        <% end %>
      
        <p>
          <span class='quiet'>
            <small><%= time_ago_in_words(comment.updated_at) %> ago</small>  
          </span>
        </p>
        <hr class = "thick_divider"/>
      
      
      <% end %>
    
    
    <% else %>
      <h4>Be the first to comment!</h4>
    <% end %>
    
    
    
    <!-- comment form_for -->
    <% if logged_in? %>
      <div class = "row">
        <div class = "col-md-2">
          <%= link_to gravatar_for(current_user, size: 50), chef_path(current_user) %> &nbsp
          <b><%= link_to current_user.chefname, current_user %></b> :
        </div>
        <div class = "col-lg-10 comment">
          <%= form_for(@comment, url: comment_recipe_path) do |f|%>
            <%= f.text_field :comment %>
      
            <%= f.submit('Comment!', class: "btn btn-success")%>
        
          <% end %>
        </div>
      </div>
    <% else %>
      <b>Please log in to comment: </b> &nbsp &nbsp 
      <%= link_to "Log in", login_path, class: "btn btn-warning btn-small" %>
    <% end %>
      
    
    
  </div>
  
</div>


