<!-- doing tab. Look at index page in recipe -->
<!-- 
<ul class = "nav nav-tabs">
  <li class='active'>
    <%= link_to "Recipes",recipes_path %>
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
    
  </li>
</ul> 

-->




<%= will_paginate paginate_param %>

<% objects.each do |recipe| %>
  <div class='row'>
    
    <!-- gravatar stuff below -->
    <div class = "col-md-2"> <!-- preserve 2 columns for image-->
      <section class = "chef_info center"> <!-- we change chef_info style in custom.css.scss in assets->stylesheets -->
        <%= link_to gravatar_for(recipe.chef, size: 100), chef_path(recipe.chef) %> <!-- gravatar_for is defined in the application_helper.rb -->
        <h5><%=recipe.chef.chefname %></h5>
      </section>
    </div>
    
    <div class="col-lg-6 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>
      
      <!-- this will go to partial _style.html.erb and _ingredient.html.erb. This work for
      1-to-many or many-to-many associations-->
      <p>Style: <%= render recipe.styles %></p>
      <p>Ingredient: <%= render recipe.ingredients %></p>
      
       <!-- LIKE BUTTON -->
      <div class="pull-right">
        <%= link_to like_recipe_path(recipe,like: true), method: :post do %> <!-- without the method: :post, it will go the GET (home action) path. 
        We want to CREATE a like, which is a POST action -->
          <!-- create thumb up thumb down using twitter bootstrap from getbootstrap.com-->
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp <!-- create 4 spaces -->
        
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total %>
        <% end %>
        
      </div>
      
      
      <p>
        <span class='quiet'>
          <small>Created at: <%= time_ago_in_words(recipe.created_at) %> ago. </small>
          <small>Updated at: <%= time_ago_in_words(recipe.updated_at) %> ago</small>  
          
        </span>
      </p>
    </div>
    
    <!-- for the recipe's picture, we use the gravatar class again since we want the pic to be curvy, like chef's pic -->
    <div class="col-md-4">
      <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %> <!-- we can put the if part at the end, weird -->
    </div>
    
  </div>
  
  <hr/>

<% end %>

<h5><%= link_to "Return to recipe list", recipes_path, class: "btn btn-warning btn-small" %> </h5>

<%= will_paginate paginate_param %>
<!-- page index at bottom of page ->
