<%= render 'shared/page_title', title: "Edit ingredient" %>

<%= render 'shared/error', obj: @ingredient %> <!-- passing @recipe object in to 'obj' object in _error.html.erb -->

<div class = "row">
  <div class="well col-md-8 col-md-offset-2">
    
    <% if (current_user.admin?) %>
      <%= link_to "[delete]", ingredient_path(@ingredient), method: :delete, data: {confirm: "Are you sure?"}  %>
    <% end %>
    
    <%= form_for(@ingredient) do |f|%>
      <%= f.label :name %>
      <%= f.text_field :name %>
    
      <%= f.submit('Edit Ingredient', class: "btn btn-success")%>
      
    <% end %>
      
  </div>
</div>